@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "HancomMalangMalang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "JejuDoldam";
  src: url("../fonts/doldam.woff2"), url("../fonts/doldam.woff") format("woff2");
}

.malang {
  font-family: "HancomMalangMalang-Regular";
}

.inter {
  font-family: "Inter", sans-serif;
}

.jeju {
  font-family: "JejuDoldam";
}
